.site-main.-single {
  flex-wrap: wrap;

  .container {
    max-width: 1040px;
    align-items: center;
  }

  .post-item {
    display: flex;
    width: auto;
    justify-content: flex-start;
    flex-wrap: wrap;

    .entry-header {
      max-width: 470px;
      height: auto;
      max-height: 310px;
      align-items: center;
      justify-content: center;
      display: flex;
      overflow: hidden;
      .post-image {
        width: 110%;
      }
    }

    .entry-content {
      max-height: inherit;
      .gallery {
        display: block;
        &-item {
          margin-top: 5px;
        }
      }
    }

    .entry-footer {
      padding: 50px 20px;
      color: $white;
      max-width: 340px;
      > .gallery {
        display: none;
      }

      .entry-meta {
        margin: 10px 0 0 0;
      }
    }
  }

  .post-navigation {
    width: 100%;
    text-align: center;
    margin: 30px 0;
  }

  .comments-area {
    display: flex;
    width: 100%;
    margin-bottom: 5px;

    .comment {
      &-notes {
        margin: 20px 0;
        display: block;
        font-size: 14px;
      }

      &-form {
        max-width: 370px;
        width: 100%;
      }

      &-metadata {
        color: #9E9E9E;
        font-size: 14px;
      }

      &-author.vcard {
        .avatar {
          border: 2px solid white;
        }
      }
    }

    .reply {
      color: #9E9E9E;
      font-size: 13px;
      font-weight: 600;
      justify-content: flex-end;
      display: flex;
    }

    textarea, input {
      background: none;
      background-color: rgba(255, 255, 255, 0.11);
      border: 2px solid #ffffff;
      color: $white;
      width: 270px;
      height: 80px;
    }
    input {
      height: 20px;
      margin: 5px 0;
    }
    //
    // {
    //  background: none;
    //  background-color: rgba(19, 22, 29, 0.45);
    //  border: 2px solid #13161d;
    //  color: white;
    //}

    .form-submit {
      input.submit {
        @extend .send-message;
      }
    }

    p {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      label {
        @include font-weight-size(bold, 16px);
        color: $lite-gray;
      }
      &.form-submit {
        justify-content: flex-end;
      }
    }

    .comments-title, .says {
      display: none;
    }

    .comment-list {
      display: flex;
      flex-direction: column;
      margin-right: 140px;
      border-right: 1px solid black;
      padding: 20px 120px 20px 0;
    }
  }

  .comments-container {
    @extend .gallery.-demo;
    .comments-area {
      margin: auto;
      max-width: 1040px;
      color: $white;
    }
  }

}